

@import 'variables';

.header,
.h2p-body,
.footer {
    box-sizing: border-box;
}




.header {
    height: $headerHeight;
    text-align: left;
}

#content-source {
    -webkit-flow-into: contentflow;
    flow-into: contentflow;
}

.content-target {
    -webkit-flow-from: contentflow;
    flow-from: contentflow;
}

.footer {
    height: $footerHeight;
    text-align: center;
}

#pages.mirrored{
    .paper {
        &:nth-child(even) .header {
            text-align: right;
        }

        &:nth-child(even) .page {
            padding-left: $marginOutside;
            padding-right: $marginInside;
        }
    }
}

img {
    max-width: 100%;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    /* Avoids headings to be cut or to be orphans.
     * But it doesn't seem to work
     * if the element after has a page-break-inside avoid. It tries its best! */
    -webkit-region-break-inside: avoid;
    -webkit-region-break-after: avoid;
}

/* AN EXAMPLE TO AVOID PAGE BREAK INSIDE,
 * HERE NO PARAGRAPH WILL BE CUT,
 * BUT YOU MIGHT WANT TO DEACTIVATE THIS */
p {
    /*-webkit-region-break-inside: avoid;*/
}



