

@import 'variables';


@media screen {


    html {
        background-color: #F0F0F0;
    }

    #pages {
        width: $paperWidth;
        height: $paperHeight;
        margin: auto;
    }

    .spread #pages {
        width: $paperWidth * 2;
        height: $paperHeight * 2;
        margin: auto;
    }

    .spread .paper:nth-child(even){
        border-right: 1px solid black;
    }


    .paper {
        background-color: white;
        margin-top: 1em;
        margin-bottom: 1em;
    }
    .normal .paper {
        /*outline: 1px solid lightgray; */
    }
    .normal .page {
        outline: 1px dashed lightsalmon;
    }
    .preview .paper {
        background: none;
        border: none !important;
    }
    .preview .page {
        outline: 1px solid lightgray;
        background-color: white;
    }
    .preview .crops { visibility: hidden; }


    #toc {
        display: inline-block;
    }
    #toc-pages {
        padding: 0.5em 0;
        display: none;
        background-color: black;
        position: absolute;
        right: 0;
        bottom: 2em;
        height: 200pt;
        width: 80pt;
        overflow: auto;
    }
    #toc-pages a {
        padding: 0 1em;
        color: white;
    }
    #toc-pages a:hover {
        background-color: white;
        color: black;
    }
    #toc-pages button {
        width: 80pt;
    }
}